.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.board {
  height: 80vh;
  width: 100%;
  display: flex;
}

.button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  border: grey solid;
  transition: background-color 0.3s;
  transform: 0.3s;
}

.button:hover {
  background-color: orange;
}

.button:active {
  transform: scale(0.95);
}

.labels-containers {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

.warning {
  color: red;
  font-size: small;
  text-align: center;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;

  z-index: 1;
  border-radius: 8px;
  border: black solid;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.labels-containers {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  border: grey solid;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.header {
  background-color: #556371;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 15vh;
}

.header h1 {
  text-align: center;
  margin-left: auto;
}

.header button {
  margin-left: 10px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  border: grey solid;
  transition: background-color 0.3s;
  transform: 0.3s;
}

.header button:hover {
  background-color: orange;
}

.header button:active {
  transform: scale(0.95);
}

.container {
  display: flex;
  flex: 1;
}

.aside {
  background-color: #34495e;
  color: #fff;
  padding: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.aside label,
.aside input,
.aside textarea,
.aside select,
.aside button {
  margin-bottom: 10px;
}
.main {
  background-color: white;
  color: #fff;
  padding: 10px;
  flex-grow: 1;
  display: flex;
}

.footer {
  background-color: #34495e;
  color: #fff;
  padding: 10px;
  height: 10px;
  height: 5vh;
}

.board-container {
  flex: 1;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 8px;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  align-items: center;
}

.column-header {
  background-color: grey;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
}

.total-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

.task {
  width: 90%;
  height: 70px;
  border: 2px solid #205d88;
  margin: 12px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
  cursor: pointer;
}

.high-priority {
  background-color: #f58a8a;
}

.medium-priority {
  background-color: #d4d17a;
}

.low-priority {
  background-color: #5cbf8a;
}

.h2 {
  text-align: center;
  margin: 10px;
  color: black;
}

.photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  margin-left: auto;
}

.photo-img {
  max-height: 100%;
}

.role {
  width: 90%;
  height: 70px;

  border: 2px solid #205d88;
  margin: 12px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  text-align: center;
  font-weight: bold;

  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
  cursor: pointer;
}
.owner {
  background-color: #f58a8a;
}

.scrum-master {
  background-color: #d4d17a;
}

.dev {
  background-color: #5cbf8a;
}

.photoUser {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  margin-right: 10px;
}

.photo-user {
  max-height: 100%;
}

.input-read-only {
  background-color: #f4f4f4;
  color: #888;
  border: 1px solid #ddd;
  pointer-events: none;
}

.links {
  display: flex;
  color: white;
}

.links h2 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  color: white;
}

.label-add-user {
  text-align: center;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.5);
}
