.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.board {
  height: 80vh;
  width: 100%;
  display: flex;
}

.button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  border: grey solid;
  transition: background-color 0.3s;
  transform: 0.3s;
}

.buttonNoti {
  width: 60%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  border: grey solid;
  transition: background-color 0.3s;
  transform: 0.3s;
  text-align: center;
}

.button:hover {
  background-color: orange;
}

.buttonNoti:hover {
  background-color: orange;
}

.button:active  {
  transform: scale(0.95);
}

.buttonNoti:active {
  transform: scale(0.95);
}

.buttonModal {
  width: 150px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  border: grey solid;
  transition: background-color 0.3s;
  transform: 0.3s;
}

.buttonModal:hover {
  background-color: orange;
}

.buttonModal:active {
  transform: scale(0.95);
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 100%;
}

/* Estilos para a seção de mensagem */
.message-section {
  margin-top: 20px;
}

/* Estilos para a entrada de mensagem */
.message-input {
  width: 100%;
  height: 100px;
  resize: both;
  margin-bottom: 10px;
}

.modal-button-container {
  align-items: center;
}

.labels-containers {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

.warning {
  color: red;
  font-size: small;
  text-align: center;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;

  z-index: 1;
  border-radius: 8px;
  border: black solid;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.labels-containers {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  border: grey solid;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.header {
  background-color: #556371;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 15vh;
}

.header h1 {
  text-align: center;
  margin-left: auto;
}

.header button {
  margin-left: 10px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 10px;
  border-radius: 8px;
  border: grey solid;
  transition: background-color 0.3s;
  transform: 0.3s;
}

.header button:hover {
  background-color: orange;
}

.header button:active {
  transform: scale(0.95);
}

.container {
  display: flex;
  flex: 1;
}

.aside {
  background-color: #34495e;
  color: #fff;
  padding: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.aside label,
.aside input,
.aside textarea,
.aside select,
.aside button {
  margin-bottom: 10px;
}
.main {
  background-color: white;
  color: #fff;
  padding: 10px;
  flex-grow: 1;
  display: flex;
}

.footer {
  background-color: #34495e;
  color: #fff;
  padding: 10px;
  height: 10px;
  height: 5vh;
}

.board-container {
  flex: 1;
  margin: 10px;
  background-color: whitesmoke;
  border-radius: 8px;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  align-items: center;
}

.column-header {
  background-color: grey;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: center;
  margin: 10px;
}

.total-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

.task {
  width: 90%;
  height: 70px;
  border: 2px solid #205d88;
  margin: 12px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
  cursor: pointer;
}

.high-priority {
  background-color: #f58a8a;
}

.medium-priority {
  background-color: #d4d17a;
}

.low-priority {
  background-color: #5cbf8a;
}

.h2 {
  text-align: center;
  margin: 10px;
  color: black;
}

.photo-variant-1, .photo-variant-2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  margin-left: auto;
}

.photo-img {
  max-height: 100%;
}

.role {
  width: 90%;
  height: 70px;

  border: 2px solid #205d88;
  margin: 12px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  text-align: center;
  font-weight: bold;

  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333,
    1px 1px 0 #333;
  cursor: pointer;
}
.owner {
  background-color: #f58a8a;
}

.scrum-master {
  background-color: #d4d17a;
}

.dev {
  background-color: #5cbf8a;
}

.photoUser {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  margin-right: 10px;
}

.photo-user {
  max-height: 100%;
}

.input-read-only {
  background-color: #f4f4f4;
  color: #888;
  border: 1px solid #ddd;
  pointer-events: none;
}

.links {
  display: flex;
  color: white;
}

.links h2 {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  color: white;
}

.label-add-user {
  text-align: center;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.table-users {
  width: 100%;
  border-collapse: collapse;
}

.search-bar {
  width: 20%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  border: grey solid;
}

.circle-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 20px;
}

.circle-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message-container-right {
  display: flex;
  justify-content: flex-end; /* Alinha a mensagem à direita */
  margin-bottom: 10px;
}

.message.container-left {
  display: flex;
  justify-content: flex-start; /* Alinha a mensagem à esquerda */
  margin-bottom: 10px;
}

.message-bubble {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-checked {
  background-color: #c1ffc1;
}

.message-unchecked {
  background-color: #ffcccc;
}

.message-container-withscroll {
  max-height: 300px;
  overflow-y: auto;
}

.notification-count {
  position: static;
  top: -5px;
  right: -5px;
  background: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

.notification-window {
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  max-height: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow-y: auto;
}

.notification-window p {
  padding: 10px;
  margin: 0;
}

.notification-window p:first-child {
  border-bottom: 1px solid #ccc;
}

.notification-window p:last-child {
  border-bottom: none;
}

.notification-msg {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
}

.notification-msg.checked {
  background-color: #c1ffc1;
}

.notification-msg.unchecked {
  background-color: #ffcccc;
}

#users-column h2,
#tasks-column h2 {
  color: black;
  font-size: 20px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px; 
  z-index: 1000; 
  cursor: pointer;
  color: #555; 
}

.close-icon:hover {
  color: #333; 
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .board {
    flex-direction: column;
  }
  .board-container {
    height: 100%;
    width: 100%;
  }
  .total-column {
    width: 100%;
  }

  .footer {
    display: block;
  }

  .aside {
    width: 40%;
  }

  .header h1 {
    display: none;
  }

  .header h2 {
    text-align: center;
    margin-left: auto;
    font-size: small;
  }

  .header {
    width: fit-content;
  }

  .photo-variant-1 {
    display: none;
  }

  .photo-variant-2 {
    display: block;
  }

  .main {
    overflow: auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 554px) {
  .board {
    flex-direction: column;
  }
  .board-container {
    height: 100%;
    width: 100%;
  }
  .total-column {
    width: 100%;
  }

  .footer {
    display: block;
  }

  .aside {
    width: 40%;
  }

  .header h1 {
    display: none;
  }

  .header h2 {
    text-align: center;
    margin-left: auto;
    font-size: medium;
  }

  .header {
    width: fit-content;
  }

  .photo-variant-1 {
    display: none;
  }

  .photo-variant-2 {
    display: block;
  }

  .main {
    overflow: auto;
  }
}

@media only screen and (min-width: 555px) and (max-width: 772px) {
  .board {
    flex-direction: column;
  }
  .board-container {
    height: 100%;
    width: 100%;
  }
  .total-column {
    width: 100%;
  }

  .footer {
    display: block;
  }

  .aside {
    width: 25%;
    overflow-y: auto;
  }

  .photo-variant-1 {
    display: none;
  }

  .photo-variant-2 {
    display: block;
  }

  .header h1 {
    display: none;
  }

  .header h2 {
    text-align: center;
    margin-left: auto;
    font-size: larger;
  }

  .main {
    overflow: auto;
  }
}
@media only screen and (min-width: 773px) and (max-width: 1024px) {
  .board {
    flex-direction: column;
  }
  .board-container {
    height: 100%;
    width: 100%;
  }
  .total-column {
    width: 100%;
  }

  .footer {
    display: block;
  }

  .photo-variant-1 {
    display: block;
  }

  .photo-variant-2 {
    display: block;
  }

  .aside {
    width: 25%;
    overflow-y: auto;
  }

  .header h1 {
    display: none;
  }

  .header h2 {
    text-align: center;
    margin-left: auto;
    font-size: larger;
  }

  .main {
    overflow: auto;
  }
}
